<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.csust_hot_wall.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.example.csust_hot_wall.entity.Article">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="intro" column="intro" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="creationTime" column="creation_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="visitors" column="visitors" jdbcType="INTEGER"/>
            <result property="likes" column="likes" jdbcType="INTEGER"/>
            <result property="pictureList" column="picture_list" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,category_id,user_id,title,
        intro,content,creation_time,
        update_time,visitors,likes,
        picture_list,state
    </sql>
    <!--简单字段列表缺少内容-->
    <sql id="Simple_Column_List">
        id,category_id,user_id,title,
        intro,creation_time,
        update_time,visitors,likes,
        picture_list,state
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Simple_Column_List"/>
        from article
        where
        id = #{id,jdbcType=NUMERIC}
    </select>

    <select id="selectByCategoryId" resultMap="BaseResultMap">
        select
        <include refid="Simple_Column_List"/>
        from article
        where
        category_id = #{categoryId,jdbcType=NUMERIC}
    </select>
    <select id="selectByTitle" resultMap="BaseResultMap">
        select
        <include refid="Simple_Column_List"/>
        from article
        where
        title = #{title,jdbcType=VARCHAR}
    </select>
    <select id="selectAllByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from article
        where
        user_id = #{userId,jdbcType=NUMERIC}
    </select>
</mapper>
