<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.csust_hot_wall.mapper.LikesMapper">

    <resultMap id="BaseResultMap" type="com.example.csust_hot_wall.entity.Likes">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <id property="articleId" column="article_id" jdbcType="INTEGER"/>
            <result property="creationTime" column="creation_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,article_id,creation_time
    </sql>
    <select id="selectByArticleId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from likes
        where
        article_id = #{articleId,jdbcType=NUMERIC}
    </select>
    <select id="selectByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from likes
        where
        user_id = #{userId,jdbcType=NUMERIC}
    </select>
    <select id="countByUserId" resultType="int">
select count(*)
 from likes
where
user_id = #{userId,jdbcType=NUMERIC}
</select>
    <select id="countByArticleId" resultType="int">
select count(*)
 from likes
where
article_id = #{articleId,jdbcType=NUMERIC}
</select>
    <delete id="deleteByUserId">
delete from likes
where
user_id = #{userId,jdbcType=NUMERIC}
</delete>
</mapper>
